/* Original CSS rules */

* {
    box-sizing: border-box;
}


body {
    /* height: 100%; */
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url(../../assets/pxfuel.jpg);
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
}

.home {
    position: relative;
    width: 100%;
    display: flex; /* Added for flexibility in styling */
}

.first {
    width: 30%;
    padding: 2%;
    margin: 0%;
}

.first img {
    width: 100%;
    border-radius: 5%;
}

.second {
    width: 45%;
    margin: 10% 0%;
    padding: 5%;
}

.second h2, p {
    color: aliceblue;
}

.second span {
    color: greenyellow;
}

.third {
    margin: 15% 0% 15% 0%;
}

.third li {
    background-color: aliceblue;
    padding: 15%;
    list-style-type: none;
}

.third ul {
    /* border-radius: 10%; */
}

/* Media Query for Mobile Screens */
@media (max-width: 767px) {
    body{
        overflow-x: hidden;
    }
    .home {
        /* display: flex; */
        /* flex-direction: row; */
        flex-direction: column; /*Stack elements vertically*/
        position: relative;
        margin-bottom: 45px;
    }
    .third{
        display: flex;
        flex-direction: row;
    }

    .first {
        width: 100%; /* Full width for mobile */
        margin-bottom: 0px; /* Add some spacing between sections */
    }

    .second {
        width: 100%; /* Full width for mobile */
        margin: 0; /* Remove top margin */
    }

    .third {
        margin: 0; /* Remove top and bottom margin */
    }
    .button-row {
        width: 100%;
        margin: 0;
        display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  position: fixed; /* Fixed position */
  bottom: 0; /* Stick to the bottom of the viewport */
  left: 0; /* Align to the left */
  width: 100%; /* Full width of the viewport */
  z-index: 1000; 
      }
      
      .button-row li {
        list-style-type: none;
      }

    .third li {
        padding: 10px; 
        border-radius: 25px;
    }
}
